[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
lxml = "*"
matplotlib = "*"
plotly = "==4.5.4"

[requires]
python_version = "3.9"
